.btn {
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
    border-radius: 24px;
    cursor: pointer;
}

.func {
    background: #FFDFDF;
    border: 1px solid rgba(255, 185, 185, 0.2);
    box-sizing: border-box;
    box-shadow: -16px -16px 32px #FFEEEE, 16px 16px 32px #A6ABBD;
}

.math {
    background: #ECEDF1;
    border: 1.56px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;

    /* Neo-Shadow 1 */
    box-shadow: -16px -16px 32px #FAFBFF, 16px 16px 32px #A6ABBD;
}

.equals {
    background: #FFF1CD;
    border: 1px solid rgba(255, 228, 158, 0.2);
    box-sizing: border-box;
    box-shadow: -16px -16px 32px #FFF9E9, 16px 16px 32px #A6ABBD;
}

.normal {
    background: #ECEDF1;
    border: 1.56px solid rgba(255, 255, 255, 0.247);
    box-sizing: border-box;

    /* Neo-Shadow 1 */
    box-shadow: -16px -16px 32px #FAFBFF, 16px 16px 32px #A6ABBD;
}

.normal,.math > p{
    text-transform: uppercase;
	background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #C4C9DC;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.func > p{
    text-transform: uppercase;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%);
    background: #FFB7B7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.equals > p{
    text-transform: uppercase;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%);
    background: #FFD98F;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}